<h1>Contact</h1>


<div class = "jumbotron">
	<div class="contact">
		<h2> You can find me on a number of different platforms... </h2>
		<div class="container">
			<div class="row">
				<div class = "col-md-12">
					<div class="contact">
						<h3><%= image_tag ("code_social_icons/email.png") %> cassandra@matosmendez.com <br/></h3>
					</div>
				</div>
			</div>
			<div class ="row">
				<div class = "col-md-12">
					<div class ="contact">
						<h3>
						<a href="https://www.linkedin.com/in/cassthecoder" target="_blank"><%= image_tag ("code_social_icons/in.png") %></a>
						 & 
						 <a href="https://twitter.com/cassthecoder" target="_blank"><%= image_tag ("code_social_icons/twitter.png") %></a>@cassthecoder	
						</h3>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>