<span id="plane"></span>


<div class = "container front-page text center">
	<h1>Destination Unknown</h1>
</div>

<div class = "container text-center welcome">
	<h2>
		<a href=destinations>
			<%= image_tag ("airplane_icon.png") %>
		</a>
		<br/>

		Click the plane to add a destination
	</h2>
</div>

<br>


