<h1>Editing Destination</h1>

<%= render 'form', destination: @destination %>

<%= link_to 'Show', @destination, class: "btn btn-default" %> |
<%= link_to 'Back', destinations_path, class: "btn btn-default" %>
